.topSelling_box h3 {
    font-size: 32px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
}

.topSelling_box h3:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #f0f0f0;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.topSelling_box h3:before {
    content: '';
    width: 20%;
    height: 3px;
    background: #b0e5c2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}