header {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 25px 23px;
    background: #fff;

}

.headerWrapper {
    transition: all 0.3s ease-in-out;
    background: #fff;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}


.headerWrapper.fixed {
    /* position: fixed; */
    top: -110px;
    /* left: 0px;
    width: 100%;
    z-index: 1000; */

}

header .headerSearch {
    width: 100%;
    height: 55px;
    border: 1px solid #bce3c9;
    padding: 10px 20px;
    border-radius: 4px;


}

header .headerSearch .selectDrop {
    width: 24%;
    font-size: 16px;
    font-weight: 500;
    position: relative;

}

header .headerSearch .selectDrop:after {
    content: '';
    width: 1px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    right: -23px;
}

header .headerSearch .search {
    width: 75%;
    padding-left: 40px;
    position: relative;
}

header .headerSearch .search input {
    width: 100%;
    height: 50px;
    border: 0px;
    outline: none !important;
    font-size: 18px;
}

header .headerSearch .searchIcon {
    position: absolute;
    top: 12px;
    right: 0px;
    opacity: 0.5;
    font-size: 30px !important;

}

.afterHeader {
    margin-top: 210px;
}


header .countryWrapper .selectDrop {
    width: 170px !important;
    height: 45px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    border: 1px solid #ececec;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.05);
    border-radius: 8px;
}

header .countryWrapper .selectDrops .openSelect {
    width: 100%;
}

header .countryWrapper .selectDrop .selectDrop {
    left: 0px !important
}

header .countryWrapper .openSelect {
    color: #279a65 !important;



}

header .countryWrapper .openSelect .arrow {
    color: #279a65 !important;
    top: 11px;
    right: 6px;


}

header .headerTabs {
    padding-left: 20px;
}

header .headerTabs li span {
    font-size: 20px;
    cursor: pointer;
}

header .headerTabs li {
    position: relative;
    margin-left: 10px;

}

header .headerTabs li span.badge {
    width: 22px;
    height: 21px;
    font-size: 12px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: -12px;
    left: 10px;
}



header .headerTabs li span .img {
    margin-right: 10px;

}

.dropdownMenu {
    position: absolute;
    top: 40px;
    right: -3px;
    width: 220px;
    height: auto;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px 0px;
    z-index: 100;

}

.dropdownMenu li {
    width: 100% !important;
    list-style: none;
    margin: 0px !important;
}

.dropdownMenu li button {
    width: 100% !important;
    text-align: left !important;
    justify-content: flex-start !important;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize !important;
    font-size: 18px !important;
    padding: 12px 15px !important;
}

.dropdownMenu li button svg {
    opacity: 0.7;
    margin-right: 8px !important;
}

.dropdownMenu li button:hover {
    background: #f1f1f1 !important;
}